{% extends 'base.html' %}
{% block title %}{{super()}}-Cadastro{% endblock %}
{% block content %}
<div class="jumbotron">
    <h2>Cadastro</h2><br>
<form action="" method="POST">
    {{ form.csrf_token }}
    <div class="form-group" type="email">
        <label>E-mail</label>
        {{ form.mail(class="form-control",
        placeholder="'example@mail.com'") }}
        {% if form.errors.mail %}
        <div> <!--class="alert alert-danger" role="alert"-->
            <ul>
                {% for e in form.errors.mail %}
                <li>{{ e }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label>Password</label>
        {{ form.password(class="form-control",
        placeholder="Senha") }}
        {% if form.errors.password %}
        <div><!-- class="alert alert-danger" role="alert"-->
            {
            <ul>
                {% for e in form.errors.password %}
                <li>{{ e }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label>CNPJ</label>
        {{ form.cnpj(class="form-control",
        placeholder="'example XXXXXXXXXXXXXX'") }}
        {% if form.errors.cnpj %}
        <div> <!--class="alert alert-danger" role="alert"-->
            <ul>
                {% for e in form.errors.cnpj %}
                <li>{{ e }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label>Telefone</label>
        {{ form.telefone(class="form-control",
        placeholder="Example '99 999999999") }}
        {% if form.errors.telefone %}
        <div> <!--class="alert alert-danger" role="alert"-->
            <ul>
                {% for e in form.errors.telefone %}
                <li>{{ e }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label>Entidade</label>
        {{ form.tipo_entidade(class="form-control",
        placeholder="'Seguradora = 1, Prefeitura = 2, Órgão de Trânsito = 3'") }}
        {% if form.errors.tipo_entidade %}
        <div> <!--class="alert alert-danger" role="alert"-->
            <ul>
                {% for e in form.errors.tipo_entidade %}
                <li>{{ e }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label>Razão Social</label>
        {{ form.razao_social(class="form-control",
        placeholder="Razão Social") }}
        {% if form.errors.razao_social %}
        <div> class="alert alert-danger" role="alert"
            <ul>
                {% for e in form.errors.razao_social %}
                <li>
                    {{ e }}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label>Rua</label>
        {{ form.rua(class="form-control",
        placeholder="Rua") }}
        {% if form.errors.rua %}
        <div> class="alert alert-danger" role="alert"
            <ul>
                {% for e in form.errors.rua %}
                <li>
                    {{ e }}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label>Bairro</label>
        {{ form.bairro(class="form-control",
        placeholder="Bairro") }}
        {% if form.errors.bairro %}
        <div> class="alert alert-danger" role="alert"
            <ul>
                {% for e in form.errors.bairro %}
                <li>
                    {{ e }}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label>Cidade</label>
        {{ form.cidade(class="form-control",
        placeholder="Cidade") }}
        {% if form.errors.cidade %}
        <div> class="alert alert-danger" role="alert"
            <ul>
                {% for e in form.errors.cidade %}
                <li>
                    {{ e }}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label>Estado</label>
        {{ form.estado(class="form-control",
        placeholder="Estado") }}
        {% if form.errors.estado %}
        <div> class="alert alert-danger" role="alert"
            <ul>
                {% for e in form.errors.estado %}
                <li>
                    {{ e }}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label>Número</label>
        {{ form.numero(class="form-control",
        placeholder="Número") }}
        {% if form.errors.numero %}
        <div> class="alert alert-danger" role="alert"
            <ul>
                {% for e in form.errors.numero %}
                <li>
                    {{ e }}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label>CEP</label>
        {{ form.cep(class="form-control",
        placeholder="CEP") }}
        {% if form.errors.cep %}
        <div> class="alert alert-danger" role="alert"
            <ul>
                {% for e in form.errors.cep %}
                <li>
                    {{ e }}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Cadastrar</button>
</form>
</div>
{% endblock %}
